@import "tailwindcss";

@theme {
  --color-black-gradient: gradient(0deg, rgba(0, 0, 0, 0.7) 0%, transparent 100%)
}


.text {
  font-kerning: none;
  text-rendering: optimizeSpeed;
  text-transform: uppercase;
  font-weight: 600;
}

.text-container {
  line-height: 1;
}

.text-brand {
  font-size: 1.25rem;
  font-weight: 700;
}

@media (min-width: 768px) {
  .text-brand {
    font-size: 2rem;
  }
}

.text-user {
  font-size: 1rem;
  font-weight: 600;

}

.text-brand,
.text-user {
  color: #fff;
}